* {
  box-sizing: border-box;
}

body {
  background: #011020;
  font-family: sans-serif;
}

/* Ajoute tous les styles dont tu as besoin ici */
/* 
  codes couleurs :
  - bleu des items de listes : #0052a9
  - bleu des tags : #1771da
  - gris des select: #eee
  - gris des bordures: #bbb
*/